body {
  background: no-repeat;
  background-size: cover;
  margin: auto;
}

#container-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px 1fr;
  border: none;
}
#container-wrapper #activites {
  grid-column: 1/4;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.8156862745);
  font-family: sans-serif;
  color: white;
  padding: 40px;
  padding-top: 1em;
  border: none;
  border-radius: 10px;
}
#container-wrapper #activites .schedule {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-left: white 1px solid;
  border-right: white 1px solid;
  padding-left: 10px;
  padding-right: 10px;
}
#container-wrapper #bus {
  grid-column: 3;
  grid-row: 1;
}
#container-wrapper #menu {
  grid-column: 1;
  grid-row: 1;
}
#container-wrapper #clock,
#container-wrapper .weather,
#container-wrapper .temp {
  grid-column: 2;
  grid-row: 1;
}
#container-wrapper #date {
  grid-column: 2;
  grid-row: 1;
}

.city {
  border: none;
  padding: 0;
  margin: 0;
}

.temp,
.flex,
.description {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

#clock {
  background: rgba(0, 0, 0, 0.8156862745);
  font-family: sans-serif;
  color: white;
  padding: 0;
  padding-top: 1em;
  border: none;
  border-radius: 10px;
  margin: 0;
  margin-bottom: 5rem;
  width: 40%;
  width: 57%;
  font-size: 2rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.weather {
  font-family: sans-serif;
  color: white;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0;
  margin-top: 7rem;
  width: 48%;
  font-size: 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bus {
  background: rgba(0, 0, 0, 0.8156862745);
  font-family: sans-serif;
  font-size: 8px;
  color: white;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#menu {
  background: rgba(0, 0, 0, 0.8156862745);
  font-family: sans-serif;
  font-size: 10px;
  color: white;
  background-image: url();
  padding: 0;
  padding-top: 0.5em;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  margin: 0;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#date {
  z-index: 1000;
  font-family: sans-serif;
  color: white;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0;
  margin-top: 4rem;
  width: 48%;
  font-size: 15px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.departure {
  font-size: 11px;
  font-weight: bold;
  font-family: sans-serif;
  color: #ffffff;
  text-align: left;
  display: inline;
  padding: 12px;
  background-image: url("/assets/img/underlogo02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.stoppested {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-align: right;
  display: inline;
  padding: 10px;
}

.ankomst {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  display: inline;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(111, 113, 114, 0.7176470588);
}

.dest {
  font-size: 12px;
  font-weight: bold;
  color: #ffd300;
  text-align: left;
  padding: 5px;
}

.item {
  border: none;
  padding: 0;
}

.ugensmenu {
  color: #ffd300;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
  background-image: url(/assets/img/iconfoodie.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 7em;
  height: 90px;
  margin: 0;
  margin-top: 4em;
  display: center;
  margin-left: auto;
  margin-right: auto;
}

.foodpic {
  width: 40%;
  display: right;
  border-radius: 5px;
}

.idag {
  color: #ffffff;
  font-size: 12px;
  font-family: sans-serif;
  text-decoration: underline;
}

.ret {
  color: #ffd300;
  font-size: 13px;
}

.uge {
  color: #ffffff;
  font-size: 12px;
}/*# sourceMappingURL=main.css.map */