body {
  background: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

main {
  width: 3840px;
  height: 2160px;
}

#container-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 800px;
  padding: 20px;
}
#container-wrapper #activites {
  grid-column: 2/4;
  grid-row: 1/4;
  background: rgba(0, 0, 0, 0.8156862745);
  color: white;
  padding: 2.5rem;
  border-radius: 0.6rem;
}
#container-wrapper #activites .schedule {
  display: flex;
  justify-content: space-between;
  border-top: white 1px solid;
  border-bottom: white 1px solid;
  font-size: 2.2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
#container-wrapper #date {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1000;
  color: #ffffff;
  padding-top: 15px;
  border: none;
  margin: 0;
  margin-top: 4rem;
  font-size: 35px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#container-wrapper #clock,
#container-wrapper .weather,
#container-wrapper .temp {
  grid-column: 1/2;
  grid-row: 1/2;
}
#container-wrapper #clock .city,
#container-wrapper .weather .city,
#container-wrapper .temp .city {
  color: #ffd300;
  font-size: 30px;
  font-weight: bold;
  border: none;
  padding: 0;
  padding-bottom: 5px;
  padding-top: 20px;
  margin: 0;
}
#container-wrapper #clock .temp,
#container-wrapper #clock .flex,
#container-wrapper #clock .description,
#container-wrapper .weather .temp,
#container-wrapper .weather .flex,
#container-wrapper .weather .description,
#container-wrapper .temp .temp,
#container-wrapper .temp .flex,
#container-wrapper .temp .description {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 35px;
}
#container-wrapper #clock {
  background: rgba(0, 0, 0, 0.8156862745);
  color: white;
  padding: 0;
  padding-top: 10px;
  border: none;
  border-radius: 10px;
  margin: 0;
  margin-bottom: 2rem;
  width: 60%;
  font-size: 50px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#container-wrapper .weather {
  color: white;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0;
  margin-top: 7rem;
  width: 48%;
  font-size: 30px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#container-wrapper #bus {
  grid-column: 1/2;
  grid-row: 3/4;
  background: rgba(0, 0, 0, 0.8156862745);
  font-size: 8px;
  color: white;
  padding-right: 10px;
  padding-top: 20px;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#container-wrapper #bus .departure {
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  display: inline;
  padding: 12px;
  background-image: url("/assets/img/underlogo02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#container-wrapper #bus .stoppested {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-align: right;
  display: inline;
  padding: 10px;
}
#container-wrapper #bus .ankomst {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  display: inline;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(111, 113, 114, 0.7176470588);
}
#container-wrapper #bus .dest {
  font-size: 12px;
  font-weight: bold;
  color: #ffd300;
  text-align: left;
  padding: 5px;
}
#container-wrapper #menu {
  background: rgba(0, 0, 0, 0.8156862745);
  color: white;
  padding-top: 20px;
  border-radius: 10px;
  width: 60%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#container-wrapper #menu .week {
  color: #ffffff;
  font-size: 30px;
  background-color: rgba(111, 113, 114, 0.7176470588);
  display: inline;
  padding: 10px;
  border-radius: 5px;
}
#container-wrapper #menu .idag {
  color: #ffffff;
  font-size: 30px;
  text-decoration: underline;
}
#container-wrapper #menu .ret {
  color: #ffd300;
  font-size: 30px;
}/*# sourceMappingURL=main.css.map */