body {
  background: no-repeat;
  background-size: cover;
  margin: auto;
  padding: 10px;
}

#container-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px 1fr;
  // background-color: turquoise;
  border: none;

  #activites {
    grid-column: 1 / 4;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    background: #000000d0;
    font-family: sans-serif;
    color: white;
    padding: 40px;
    padding-top: 1em;
    border: none;
    border-radius: 10px;
    //Herunder kan disse margins bare fjernes for at komme tilbage til det var før
    margin-left: auto;
    margin-right: auto;
    .schedule {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      border-left: white 1px solid;
      border-right: rgb(255, 255, 255) 1px solid;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  #bus {
    grid-column: 3;
    grid-row: 1;
    background: #000000d0;
    font-family: sans-serif;
    font-size: 8px;
    color: white;
    // padding: 0;
    padding-right: 10px;
    padding-top: 20px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    // max-width: 220px;
    margin: 0;
    margin-bottom: 10px;
    // width: 80%;
    // text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #menu {
    grid-column: 1;
    grid-row: 1;
    background: #000000d0;
    font-family: sans-serif;
    font-size: 10px;
    color: white;
    background-image: url();
    padding: 0;
    // padding-bottom: 0.5em;
    padding-top: 0.5em;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    // max-width: 120px;
    margin: 0;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #clock,
  .weather,
  .temp {
    grid-column: 2;
    grid-row: 1;
  }
  #date {
    grid-column: 2;
    grid-row: 1;
    // background: #000000d0;
    z-index: 1000;
    font-family: sans-serif;
    color: #ffffff;
    padding-top: 15px;
    // padding-bottom: 1em;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    // width: 100%;
    // max-width: 120px;testingtesting
    margin: 0;
    margin-top: 4rem;
    width: 48%;
    font-size: 15px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.city {
  color: #ffd300;
  font-size: 13px;
  font-weight: bold;
  border: none;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
}

.temp,
.flex,
.description {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

#clock {
  background: #000000d0;
  font-family: sans-serif;
  color: white;
  padding: 0;
  padding-top: 1em;
  border: none;
  border-radius: 10px;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
  // width: 100%;
  // max-width: 120px;
  margin: 0;
  margin-bottom: 15rem;
  width: 40%;
  width: 57%;
  font-size: 2rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.weather {
  // background: #000000d0;
  font-family: sans-serif;
  color: white;
  // padding-top: 30rem;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  // width: 100%;
  // max-width: 120px;testingtesting
  margin: 0;
  margin-top: 7rem;
  // width:48%;

  width: 48%;
  font-size: 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//---- STYLING BUS ----------
// .busheadline {
//   font-size: 12px;
//   font-weight: bold;
//   color: #8168e2;
//   text-align: left;
//   display:inline;
//   margin: 0;
//   padding-left: 10px;
// }

.departure {
  font-size: 11px;
  font-weight: bold;
  font-family: sans-serif;
  color: #ffffff;
  text-align: left;
  display: inline;
  padding: 12px;
  background-image: url("/assets/img/underlogo02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.stoppested {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-align: right;
  display: inline;
  padding: 10px;
}

.ankomst {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  display: inline;
  padding: 10px;
  // border: 1px;
  border-radius: 5px;
  background-color: #6f7172b7;
}

.dest {
  font-size: 12px;
  font-weight: bold;
  color: #ffd300;
  text-align: left;
  // display:right;
  padding: 5px;
  // text-decoration: underline;
}

//---------  THIS SECTION IS FOR THE IMG FROM THE CANTINEMENU -----
// .item {
//   border: none;
//   padding: 0;
// }

// .ugensmenu {
//   color: #ffd300;
//   font-size: 15px;
//   font-family: sans-serif;
//   font-weight: bold;
//   font-style: italic;
//   background-image: url(/assets/img/iconfoodie.png);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: contain;
//   width: 7em;
//   height: 90px;
//   margin: 0;
//   margin-top: 4em;
//   display: center;
//   margin-left: auto;
//   margin-right: auto;
// }

// .foodpic {
//   width: 40%;
//   height: 5px;
//   display: right;
//   border-radius: 5px;
// }

.idag {
  color: #ffffff;
  font-size: 12px;
  font-family: sans-serif;
  text-decoration: underline;
}
.ret {
  color: #ffd300;
  font-size: 13px;
}
.uge {
  color: #ffffff;
  font-size: 12px;
}
