div {
  border: solid 2px black;
  padding: 20px;
}

body{
  background:no-repeat;
  background-size: cover;
  // margin: auto;
}

#container-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  // background-color: turquoise;
  border: none;

  #activites {
    grid-column: 1;
    grid-row: 2;
  }
  #bus {
    grid-column: 3;
    grid-row:1;
  }

  #menu {
    grid-column: 1;
    grid-row: 1;
  }

  #clock, .weather, .temp {
    grid-column: 2;
    grid-row: 1;
  }
  #date {
    grid-column: 2;
    grid-row: 1;
  }
}

#activites{
  background-color: rgba(236, 85, 15, 0.786);
}

.city{
  border: none;
  padding: 0;
  margin: 0;
}

.temp, .flex, .description{
  border: none;
  padding: 0;
  margin: 0;
}

#clock{
  background: #000000d0;
  font-family: sans-serif;
  color: white;
  padding: 0;
  padding-top: 1em;
  border: none;  
  border-radius: 10px;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
  // width: 100%;
  // max-width: 120px;
  margin: 0;
  margin-bottom: 5rem;
  width:57%;
  font-size: 2rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.weather{
  // background: #000000d0;
  font-family: sans-serif;
  color: white;
  // padding-top: 30rem;
  // padding-bottom: 1em;
  border: none;  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  // width: 100%;
  // max-width: 120px;testingtesting
  margin: 0;
  margin-top: 7rem;
  width:48%;
  font-size: 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bus{
  background: #000000d0;
  font-family: sans-serif;
  font-size: 8px;
  color: white;
  padding: 0;
  padding-top:  2.5em;
  // padding-bottom: 0.3em;
  border: none;  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  // max-width: 220px;
  margin: 0;
  width:100%;
  // text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#menu{
  background: #000000d0;
  font-family: sans-serif;
  font-size: 10px;
  color: white;
  padding: 0;
  padding-bottom: 0.5em;
  padding-top:  0.5em;
  border: none;  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  // width: 100%;
  // max-width: 120px;testingtesting
  margin: 0;
  width:57%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;}

#date{
  // background: #000000d0;
  z-index: 1000;
  font-family: sans-serif;
  color: white;
  // padding-top: 30rem;
  // padding-bottom: 1em;
  border: none;  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  // width: 100%;
  // max-width: 120px;testingtesting
  margin: 0;
  margin-top: 4rem;
  width:48%;
  font-size: 15px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



//---- STYLING BUS ----------
// .busheadline {
//   font-size: 12px;
//   font-weight: bold;
//   color: #8168e2;
//   text-align: left;
//   display:inline;
//   margin: 0;
//   padding-left: 10px;
// }

.departure {
  font-size: 11px;
  font-weight: bold;
  font-family: sans-serif;
  color: #ffffff;
  text-align: left;
  display:inline;
  padding: 12px;
  background-image: url("/assets/img/underlogo02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.stoppested {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-align: right;
  display:inline;
  padding: 10px;

}

.ankomst {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  display:inline;
  padding: 10px;
  border: 1px;
  border-radius: 5px;
  background-color: #6f7172b7;
}

.dest {
  font-size: 12px;
  font-weight: bold;
  color: #ffd300;
  text-align: left;
  // display:right;
  padding: 5px;
  // text-decoration: underline;
}